 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 944px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 60px 0 0;
}

.u-section-1 .u-accordion-1 {
  width: 1140px;
  margin: 33px auto 60px 0;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 184px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 66px;
  margin: 9px 0 0 27px;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 184px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-accordion-2 {
  width: 1140px;
  margin: 17px -18px 0 auto;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-1 .u-text-2 {
  margin: -11px -30px 0;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 482px;
  width: 1080px;
  margin: -8px 0 0;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 13px 19px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 264px;
  margin: 0 42px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -227px auto 0 11px;
}

.u-section-1 .u-accordion-item-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 -30px;
}

.u-section-1 .u-btn-1 {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 184px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-accordion-3 {
  margin-top: 0;
  margin-bottom: -7px;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 13px 19px;
}

.u-section-1 .u-accordion-item-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 184px;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-1 .u-accordion-link-13 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-accordion-pane-13 {
  min-height: 184px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-1 .u-accordion-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 880px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -331px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-accordion-2 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 199px;
    margin-right: 0;
  }
}