.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 97px 0;
}

.u-section-2 .u-text-2 {
  width: 719px;
  margin: 12px auto 0;
}

.u-section-2 .u-image-1 {
  height: 512px;
  margin-top: 181px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1022px;
  margin: -662px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 261px;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 447px auto 0;
  padding: 20px 107px 22px 106px;
}

.u-section-2 .u-text-11 {
  text-align: left;
  margin: 36px auto 60px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-list-1 {
    width: 868px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 240px;
  }

  .u-section-2 .u-text-4 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 4.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 374px;
  }

  .u-section-2 .u-list-1 {
    width: 631px;
    margin-top: -854px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 427px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 473px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 392px;
    margin-top: 395px;
  }

  .u-section-2 .u-list-1 {
    width: 488px;
    margin-top: -756px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    grid-gap: 32px 32px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 369px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1544px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 324px;
    margin-top: 663px;
  }

  .u-section-2 .u-list-1 {
    width: 280px;
    margin-top: -959px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 726px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 273px;
    padding-right: 86px;
    padding-bottom: 21px;
    padding-left: 85px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 42px;
  }
}@font-face {
  font-family: 'SF-Pro-Text-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Text-Thin.otf);
}@font-face {
  font-family: 'SF-Pro-Text-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Text-Regular.otf);
}