 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pirate_ship_fantasy.jpg");
  background-position: 50% 58.1%;
}

.u-section-1 .u-sheet-1 {
  min-height: 504px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 173px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 599px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 330px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 330px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-2 .u-icon-1 {
  width: 178px;
  height: 179px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-2 .u-icon-1 {
    height: 178px;
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 888px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 331px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
  padding: 10px 61px 11px 59px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 21px 33px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 10px 10px 0;
}

.u-section-3 .u-image-1 {
  width: 340px;
  height: 243px;
  margin: -89px auto 38px 105px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 51px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 528px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -278px;
    margin-bottom: 60px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1870px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 763px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-4 .u-shape-1 {
  width: 97px;
  height: 97px;
  margin: 864px 152px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: -274px auto 0 84px;
}

.u-section-4 .u-shape-3 {
  width: 228px;
  height: 228px;
  margin: -895px 100px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 659px;
  height: 659px;
  background-image: url("images/group_playing_video_gamesjpg.jpg");
  background-position: 50% 50%;
  margin: 135px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -942px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 418px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 2px;
}

.u-section-4 .u-group-1 {
  width: 275px;
  min-height: 418px;
  margin: 0 auto -18px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 276px;
  height: 304px;
  margin: -56px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  width: 220px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 418px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 5px 2px;
}

.u-section-4 .u-group-2 {
  min-height: 418px;
  margin-top: 0;
  margin-bottom: -9px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 276px;
  height: 304px;
  margin: -61px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 8px 21px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 418px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  width: 275px;
  background-image: none;
  min-height: 418px;
  margin: 2px auto -2px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  height: 304px;
  margin-top: -62px;
  margin-bottom: 0;
  width: 276px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 2px 25px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 418px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 2px;
}

.u-section-4 .u-group-4 {
  width: 275px;
  min-height: 418px;
  margin: 0 0 -2px auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 276px;
  height: 304px;
  margin: -61px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.6875rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 8px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
  }

  .u-section-4 .u-image-2 {
    width: 275px;
    height: 303px;
    margin-top: -93px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    width: 275px;
    height: 303px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -8px;
  }

  .u-section-4 .u-image-4 {
    height: 303px;
    width: 275px;
    margin-top: -60px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-4 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-5 {
    width: 275px;
    height: 303px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 764px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -563px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -197px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 25px;
    margin-left: 25px;
    width: 231px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 198px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2842px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -823px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -93px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1906px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 690px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1992px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -79px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 18px;
    margin-bottom: -25px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 25px;
    margin-bottom: -25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    width: 235px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 57px;
    margin-left: 53px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 25px;
    margin-bottom: -25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    width: 238px;
    height: 303px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 737px;
}

.u-section-5 .u-image-1 {
  width: 700px;
  height: 445px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 216px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 748px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 81px auto 0;
}

.u-section-6 .u-video-1 {
  height: 360px;
  width: 640px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 87px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 33px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-6 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  min-height: 2782px;
}

.u-section-7 .u-text-1 {
  margin: 14px calc(((100% - 1140px) / 2) + 55px) 0;
}

.u-section-7 .u-text-2 {
  width: 800px;
  margin: 55px calc(((100% - 1140px) / 2) + 170px) 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 51px;
  margin: -2461px 0 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-7 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 14px auto 60px calc(((100% - 1140px) / 2) + 55px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 70px);
    margin-right: calc(((100% - 940px) / 2) + 70px);
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 55px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 55px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 55px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 55px);
  }
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SF-Pro-Text-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Text-Thin.otf);
}@font-face {
  font-family: 'SF-Pro-Text-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Text-Regular.otf);
}